<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="GadisDatabaseConnection" 
			 connectionString="Data Source=Parsa\SQLEXPRESS;Initial Catalog=GadisOfficeBaseVuota1705_Prod;Integrated Security=True;Encrypt=False" 
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>